.clientList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}
.clientListPhone {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.clientListTablet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}