.locationList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #222;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.locationListTablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #222;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.locationListPhone {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}