.vrPlayer {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  font-family: "Manrope", serif;
  gap: 4.9751vw;
}
.headerWrapper {
  width: calc(100vw - 2.48756vw*2);
  align-self: center;
  display: flex;
  justify-content: space-between;
}
.header {
  color: white;
  width: fit-content;
  font-weight: 500;
  font-size: 4.4776vw;
}