.button {
  border-bottom-left-radius: 5px;
  width: 7.4627vw;
  height: 7.4627vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #212121;
}
.button img {
  width: 7vw;
  height: auto;
}