@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --navigation-height: 60px;
}
.App {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    width: 100vw;
    background: #171717;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
.content-wrapper {
    flex: 1;
    padding-bottom: var(--navigation-height);
    width: 100%;
    min-height: 100vh;
}
